<p id="notice"><%= notice %></p>

<p>
  <strong>Texto:</strong>
  <%= @postagem.texto %>
</p>

<p>
  <strong>Carater:</strong>
  <%= @postagem.carater %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @postagem.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @postagem.email %>
</p>

<%= link_to 'Edit', edit_postagem_path(@postagem) %> |
<%= link_to 'Back', postagems_path %>
